<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyComplaint</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
            <td>SL.NO</td>
            <td>Title</td>
            <td>Content</td>
            <td>Date</td>
            <td>Replay</td>
            <td>Action</td>
        </tr>
        {% for i in ComplaintData %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.complaint_title}}</td>
            <td>{{i.complaint_content}}</td>
            <td>{{i.complaint_date}}</td>
            <td>{{i.complaint_reply}}</td>
            <td>
                <a href="{% url 'User:delmycomplaint' i.id %}">Delete</a>
            </td>
          
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% if msg %}
 <script>
    alert("{{msg}}")
    window.location="{% url 'User:MyComplaint' %}"
 </script>
{% endif %} 